.flexRow{
    --main-text-color: black;
    --text-katronix: #004691;
}
.flexRowContent--home__section--one{
    background-color: white;
    color: white;
}
.flexRowContent--home__section--one :global(.vtex-flex-layout-0-x-flexCol){
    background-color: aquamarine;
}
.flexCol--group-categories{
    text-align: center;  
}
.flexCol--group-categories :global(.vtex-store-components-3-x-imageElement){
    border: 1px solid rgb(223, 213, 213);
    border-radius: 50%;
    padding: 5%;
    max-width: 70%;
}
.flexCol--group-categories :global(.vtex-flex-layout-0-x-flexColChild--group-categories){
    height: 60% !important;
}
.flexRow--home__section--two{
    background-color: #f5f5f5;
    border-bottom: 5px solid orangered;
}
.flexRow--home__section--three {
    margin-top: 1%;
    padding-top: 3%;
    background-color: #f5f5f5;
    border-top: 2px solid var(--k-title-underline-border-color, #e0e0e0);
}
.flexRow--home__section--four{
    background: #EBEBEB;
    margin-bottom: 24px;
    margin-top: 2%;
}
.flexRow--container-menu-categories{
    width: 100%;
}
@media screen and (max-width: 1024px){
    .flexRow--home__section--four {
        padding-top: 10px;
    }
}
.flexRow--home__section__four-group{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    width: 24%;
    padding: 8px 0;
}
.flexRow--home__section__four-group :global(.vtex-store-components-3-x-imageElement){
    height: 60%;
    width: auto;
}
.flexRow--home__section--six{
    margin-top: 1%;
    padding-top: 3%;
    background-color: #f5f5f5;
    border-top: 2px solid var(--k-title-underline-border-color, #e0e0e0);
    width: 100%;
}
.flexRow--home__section--six :global(.vtex-store-components-3-x-imageElement){
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.flexRow--container-one-home{
    margin-top: 2%;
}

@media (max-width:1030px) and (min-width:710px){
    .flexRow--container_categories {
        width: 95% ;
    }
    .flexRowContent--container-one-home {
        flex-direction: column;
    }
    .flexRowContent--container-one-home :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 100% !important;
    }
}
@media (max-width: 700px) and (min-width: 280px) {
    .flexRow--container_categories{
        width: 85% !important;
    }
    .flexCol--categories-group{
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
    }
    .flexRow--home__section--six :global(.vtex-store-components-3-x-imageElement) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .flexCol--group-categories :global(.vtex-flex-layout-0-x-flexColChild--group-categories) {
        height: 30% !important;
    }
}


@media (max-width: 260px) {
    .flexCol--group-categories {
        flex-direction: column !important;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: center;
    }
}
