.container--home__texto{
    background-color: rgb(239, 239, 247);
}
.container--text-categories{
    margin-left: 20%;
    text-align: center;
    font-size: 12px;
    color: #004691;
}
.container--text-ofertas{
    margin-left: 50%;
    color: #004691;
    font-weight: bolder;        
}
.container--home__section__four-rich-text{
    font-size: 14px;
}