/*rich text del titulo del footer contactenos*/
.container--section__contactenos-titulo{
    font-size: 16px;
    color: #fff;
    margin: 24px auto 7px;
    height: 10%;
}
/*rich text del contenido del footer contactenos*/
.container--section__contactenos-content{
    color: #929292;
    font-size: 12px;
    padding-left: 2px;
}
.container--section__contactenos-content :global(.vtex-rich-text-0-x-link){
    color: white;
}
.container--two__texto{
    font-size: 16px;
    background-color: #151515;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
    float: none;
    font-weight: 400;
    position: relative;
    color: #fff;
    margin-left: 5%;
    border-top: 1px solid #ddd;
}
.container--footer__terms_text{
    font-size: 12px;
    color: #929292;
    padding: 20px 5%;
    text-align: justify;
}
.vtex-rich-text-0-x-link{
    color: aqua;
}
.container--section__varieties-titulo{
    font-size: 16px;
    color: #fff;
    margin: 24px auto 7px;
}
.container--section__varieties-content{
    color: #929292;
    font-size: 12px;
    padding-left: 2px;
    padding-top: 20%;
}
.container--section__varieties-content--internet {
    color: #929292;
    font-size: 12px;
}
.container--section__varieties-content--policies{
    color: #929292;
    font-size: 12px;
    padding-top: 15%;
}
.container--section__social-titulo{
    font-size: 16px;
    color: #fff;
    width: 70%;
}
.container--disclousure-titulo{
    font-size: 16px;
    color: #fff;
}
.container--disclousure-titulo :global(.vtex-rich-text-0-x-paragraph){
    color: white;
}