.footerLayout--footer__container-principal {
    background-color: #151515;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    float: none;
    font-weight: 400;
    position: relative;
    width: 100%;
    color: #929292;
}