.menuContainerNav--menu-total{
    margin-top: 20%;
}
.styledLinkContent--section__varieties-content{
    color: var(--gray-color);
    font-size: 12px;
    font-family: "Arial";
}
@media (max-width: 700px) {
    .menuContainerNav--menu-total{
        margin-top: 5%;
    }
}