.trigger--question{
    background-color: #151515;
    color: white;
    margin-left: 5%;
}
.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
    font-weight: bold;
}

.trigger--question:focus,
.trigger--question:focus :global(.vtex-rich-text-0-x-paragraph) {
    color: white !important;
}