.flexRowContent--footer__section-one{
    margin-top: 2%;
}
.flexRowContent--footer__section-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 15% !important;
}
.flexRowContent--footer__container{
    background-color: var(--black-color);
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    float: none;
    font-weight: 400;
    position: relative;
    color: var(--gray-color);
}
.flexRowContent--footer__container :global(.vtex-rich-text-0-x-link){
    color: var(--white-color);
    text-decoration: none;
}
.flexRowContent--footer__section{
    max-width: 100%;
    margin: 34px auto;
    text-align: center;
    height: 10%;
}
.flexRowContent--footer__items{
    margin: 20px auto;
    text-align: center;
    white-space: nowrap;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
   
}
.flexRowContent--footer__section--terms{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    float: none;
    font-weight: 400;
    position: relative;
    width: 100%;
    color: var(--white-color);
}
.flexRowContent--footer__section--social{
    max-width: 25%;
    margin: 33px 75%;
    text-align: center;
    height: 10%;
}
.flexRowContent--footer__part{
    width: 100%;
}
.flexCol--footer-section{
    height: 20%;
}
.flexCol--footer-section-1{
    height: 60%;
    border-right: 1px solid var(--dark-white);
    width: 0% !important;
}
.flexCol--footer-section-3 {
    height: 20%;
}
.flexCol--footer__disclosure_terms{
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 1.5%;
    width: 90% !important;
}
.flexRow--footer__section--social{
    border-top: 1px solid var(--dark-white);
    width: 90% !important;
}
.flexRow--footer__section-one{
    margin-left: 20%;
}
@media (max-width:1000px) and (min-width:710px) {
    .flexRowContent--container-disclousure{
        flex-direction: column;
        margin-left: 8%;
        width: 90%;
    }
    .flexRowContent--footer__section-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 18% !important;
    }
}
@media (max-width: 700px) {
    .flexRow--footer__container{
        width: 100%;
        text-align: center;
        max-width: 100%;
        padding: 1rem 0;
    }
    .flexRowContent--footer__container{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow-y: hidden;
        gap: 1rem;
        overflow-x: scroll;
        max-height: 13rem;
    }
    .flexCol--footer-section{
        max-width: 100rem;
        width: 20rem !important;
        height: 2rem;
    }
    .flexCol--footer-section-3{
        max-width: 100rem;
        width: 15rem !important;
        height: 13rem;
        margin-bottom: 10%;
    }   
    .flexRowContent--footer__section--social {
        margin: 23px 35%;
    }
    .flexRowContent--footer__section-one {
        margin-top: 2%;
        margin-left: 0%;
        display: flex;
    }
    .flexRowContent--footer__section-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: 75% !important;
    }
}