.flexRow--container-about-us-one{
    background-color: #F6F6F6;
}
.flexRow--container-about-us-one .stretchChildrenWidth:first-child{
    width: 10% !important;
}
.flexCol--container-image{
    background-color: #003780;
}
.flexRow--container-about-us-one .stretchChildrenWidth:last-child{
    width: 90% !important;
}
.flexRow--container-about-us{
    margin: 0.7% 4%;
}
.flexCol--container-image-red{
    background-color: #DD171B;
}
@media (max-width: 600px) {
    .flexRow--container-about-us-one .stretchChildrenWidth:first-child {
        width: 100% !important;
        flex-wrap: wrap;
        max-height: 20% !important;
        border-bottom:  1px solid black;
    }
}