.link--button-about{
    border: solid thin var(--color-button);
    background: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    color: var(--color-button);
    padding: 10px 20px;
    width: 21%;
    margin: 0 auto 3%;
    text-align: center;
    display: block;
    font-size: 16px;
    transition: background .6s;
    text-transform: none;
}
.link--button-about:hover{
    background: var(--hover-button);
    border: solid thin var(--hover-button);
    color: var(--white-color);
}
@media (max-width:1030px) and (min-width:710px){
    .link--button-about{
        width: 41%;
        height: 41%;
    }
}
@media (max-width: 600px) {
    .link--button-about{
        width: 70%;
    }
}