.flexRow--container-about-us-one{
    background-color: var(--custom-page);
}
.flexRow--container-about-us-one .stretchChildrenWidth:first-child{
    width: 10% !important;
}
.flexCol--container-image{
    background-color: var(--katronix-color);
}
.flexRow--container-about-us-one .stretchChildrenWidth:last-child{
    width: 90% !important;
}
.flexRow--container-about-us{
    margin: 0.7% 4%;
}
.flexCol--container-image-red{
    background-color: var(--red-color);
}
@media (max-width: 600px) {
    .flexRow--container-about-us-one .stretchChildrenWidth:first-child {
        width: 100% !important;
        flex-wrap: wrap;
        height: 5rem;
        border-bottom:  1px solid var(--black-color);
        margin-bottom: 5%;
    }
}