.imageElement--image-icon-menu {
    width: 60%;
    height: auto;
}
.logoImage--logo__header{
    height: 96px;
    max-height: 96px;
    max-width: 221px;
    width: 221px;
    margin-left: 64px;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    background: #fff;
    border: 1px solid #004691 !important;
    border-radius: 4px !important;
    color: #004691;
    height: 36px;
    width: 70%;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input){
    font-size: 14px;
}
.searchBarIcon{
    background-color: #e63027;
    color: #fff;
}
@media (max-width:1030px) and (min-width:900px) {
    .searchBarContainer :global(.vtex-input-prefix__group) {
        width: 57rem;
        margin: auto;
    }
    .logoImage--logo__header{
        margin-top: 25%;
    }
}
@media (max-width:800px) {
    .logoImage--logo__header{
        height: 58px;
        max-height: 48px;
        max-width: 110px;
        width: 120px;
    }
}