.imageElement--image-icon-menu {
    width: 60%;
    height: auto;
}
.logoImage--logo__header{
    height: 96px;
    max-height: 96px;
    max-width: 221px;
    width: 221px;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    background: #fff;
    border: 2px solid #004691 !important;
    border-radius: 4px !important;
    color: #004691;
}
.searchBarIcon{
    background-color: #e63027;
    color: #fff;
}
@media (max-width:700px) {
    .logoImage--logo__header{
        height: 48px;
        max-height: 48px;
        max-width: 110px;
        width: 110px;
    }
}