.menuContainer--category-menu {
    justify-content: center;
    background-color: var(--katronix-color);
    border-top: 3px solid var(--orange-color);
    margin-left: 0 !important;
    height: 40px;
}
.menuContainer--category-menu:hover{
    color: var(--katronix-color);
    font-family: "Arial";
}
.menuContainer--category-menu :global(.vtex-menu-2-x-styledLinkContainer){
    margin-left: 0%;
    margin-right: 0%;
}

.styledLinkContent--content-main{
    color: var(--katronix-color);
    font-size: 0.9rem;
    padding-right: 4rem;
    font-family: "Arial";
}
.styledLinkContent--content-blue {
    color: var(--orange-color);
    padding-top: 1rem;
    padding-right: 4rem;    
    font-size: 0.8rem;
    font-family: "Arial";
}

.styledLinkContent--more {
    color: var(--white-color);
    font-size: 14.5px;
    border-right: 1px solid var(--white-color);
    height: 8px;
    top: 50%;
    right: -1px;
    z-index: 1;
    padding: 0 12px;
    font-family: "Arial";
    align-items: center;
}
.styledLinkContent--more:hover{
    color: var(--katronix-color) !important;
    font-family: "Arial";
}

.styledLink--more {
    font-size: 0.8rem;
    font-family: "Arial";
    background-color: var(--red-color);
}

.styledLinkContent--content-black {
    font-size: 0.8rem;
    font-family: "Arial";
}
.menuItem--more{
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #004691 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    justify-content: center;
    transition: background .25s;
}
.menuItem--more:hover {
    background-position: left bottom;
    background-color: var(--white-color);
    color: var(--katronix-color);
}
.menuItem--more:hover :global(.vtex-menu-2-x-styledLinkContent){
    color: var(--katronix-color);
}
.menuItem--more{
    color: var(--katronix-color);
}

.submenuWrapper--submenu-more {
    background-color: #fff;
    width: 100%;
}

.menuItem--content-black:hover {
    text-decoration: underline;
    font-family: "Arial";
}

.menuItem--content-blue:hover {
    text-decoration: underline;
    font-family: "Arial";
}
