.searchResultContainer--search-result-layout {
  width: 80% !important;
  margin: 0 auto;
}

.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  color: var(--karonix-color);
  font-size: 1.5rem;
  text-align: left;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  color: var(--karonix-color);
  font-size: .875rem;
}
.productBrandContainer--summaryListDesktop{
  text-align: left;
}